<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_user_view_overview_tab">Expendable Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_user_view_overview_security">Semi-Expendable Properties</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 10px;">
          <div class="card-header border-0 pt-6">
            <div class="card-title">
              <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                  </svg>
                </span>
                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Machine/Equipment" ng-model="searchMachineryEquipment"/>
              </div>
            </div>
          </div>
          <div class="card-body py-4">
            <div class="table-responsive">
              <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                <thead>
                  <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th><strong>#</strong></th>
                    <th><strong>Machine/Equipment</strong></th>
                    <th><strong>Property No.</strong></th>
                    <th><strong>Article</strong></th>
                    <th><strong>Status</strong></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="text-gray-600 fw-semibold">
                  <tr ng-repeat="me in filterData = (machineryEquipments | filter:searchMachineryEquipment) | pagination: currentPage:pageSize">
                    <td><strong>{{ me.list_no }}</strong></td>
                    <td class="d-flex align-items-center">
                      <div class="d-flex flex-column">
                        <a class="text-gray-800 text-hover-primary mb-1">{{ me.charts_of_account.account_title }}</a>
                        <span>{{ me.charts_of_account.code }}</span>
                      </div>
                    </td>
                    <td>
                      <div class="badge badge-light fw-bold">{{ me.property_number }}</div>
                    </td>
                    <td>{{ me.article.name }}</td>
                    <td>
                      <div class="badge badge-light-{{ me.status_color }} fw-bold">{{ me.status }}</div>
                    </td>
                    <td class="text-end" style="position: relative;">
                      <div class="btn-group dropstart">
                        <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="svg-icon svg-icon-5 m-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor" />
                              <rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor" />
                              <rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor" />
                            </svg>
                          </span>
                        </button>
                        <div class="dropdown-menu menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.machineryEquipment(this, me)">View</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.repairHistory(this, me)">Repair History</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.equipmentHistory(this, me)">View History</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.printPropSticker(this, me)">Prop Sticker</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link text-warning px-3" data-kt-filemanager-table="rename" ng-show="{{me.status_hide_button}}" ng-click="app.requestForPreInspection(this, me)">Request for Pre-Repair Inspection</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link text-danger px-3" data-kt-filemanager-table-filter="delete_row" ng-click="app.delete(this, me)">Delete</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" style="text-align: center;">
                      <div class="pull-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="kt_user_view_overview_security" role="tabpanel">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); padding: 10px;">
          <div class="card-header border-0 pt-6">
            <div class="card-title">
              <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                  </svg>
                </span>
                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Machine/Equipment" ng-model="searchSemiExpandableEquipment"/>
              </div>
            </div>
          </div>
          <div class="card-body py-4">
            <div class="table-responsive">
              <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                <thead>
                  <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th><strong>#</strong></th>
                    <th><strong>Machine/Equipment</strong></th>
                    <th><strong>Property No.</strong></th>
                    <th><strong>Article</strong></th>
                    <th><strong>Status</strong></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="text-gray-600 fw-semibold">
                  <tr ng-repeat="me in filterDataSE = (machineryEquipmentsSemiExpandable | filter:searchSemiExpandableEquipment) | paginationSE: currentPageSE:pageSizeSE">
                    <td><strong>{{ me.list_no }}</strong></td>
                    <td class="d-flex align-items-center">
                      <div class="d-flex flex-column">
                        <a class="text-gray-800 text-hover-primary mb-1">{{ me.charts_of_account.account_title }}</a>
                        <span>{{ me.charts_of_account.code }}</span>
                      </div>
                    </td>
                    <td>
                      <div class="badge badge-light fw-bold">{{ me.property_number }}</div>
                    </td>
                    <td>{{ me.article.name }}</td>
                    <td>
                      <div class="badge badge-light-{{ me.status_color }} fw-bold">{{ me.status }}</div>
                    </td>
                    <td class="text-end" style="position: relative;">
                      <div class="btn-group dropstart">
                        <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="svg-icon svg-icon-5 m-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor" />
                              <rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor" />
                              <rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor" />
                            </svg>
                          </span>
                        </button>
                        <div class="dropdown-menu menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.machineryEquipment(this, me)">View</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link text-danger px-3" data-kt-filemanager-table-filter="delete_row" ng-click="app.delete(this, me)">Delete</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.repairHistory(this, me)">Repair History</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.equipmentHistory(this, me)">View History</a>
                          </div>
                          <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.printPropSticker(this, me)">Prop Sticker</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" style="text-align: center;">
                      <div class="pull-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterDataSE.length" ng-model="currentPageSE" max-size="maxSize"></ul></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="qr_code" style="display:none"></div>

<style>
.jumbotron {
  margin-top: 10px;
  padding: 10px 0;
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

footer {
  padding-top: 150px;
}
</style>

<script>
  $('.dropdown').on('show.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
});

$('.dropdown').on('hide.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
});
</script>
