<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <div class="card" style="box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); padding: 10px;">
      <div class="card-header border-0 pt-6">
        <div class="card-title">
          <div class="d-flex align-items-center position-relative my-1">
            <span class="svg-icon svg-icon-1 position-absolute ms-6">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
              </svg>
            </span>
            <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Transfer" ng-model="searchTransfer"/>
          </div>
        </div>
      </div>
      <div class="card-body py-4">
        <div class="table-responsive">
          <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
            <thead>
              <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                <th><strong>#</strong></th>
                <th><strong>Transferred by</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Transfer Date</strong></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="text-gray-600 fw-semibold">
              <tr ng-repeat="tl in filterData = (transferLogs | filter:searchTransfer) | pagination: currentPage:pageSize">
                <td><strong>{{ tl.list_no }}</strong></td>
                <td class="d-flex align-items-center">
                  <div class="fw-semibold ms-5">
                    <a href="#" class="fs-5 fw-bold text-dark text-hover-primary">{{ tl.accountable_officer.accountable_officer }}</a>
                    <div class="fs-7 text-muted">PTR No.:
                    <a href="#">{{ tl.par_no }}</a></div>
                  </div>
                </td>
                <td>
                  <div class="badge badge-light-success fw-bold">{{ tl.form_type }}</div>
                </td>
                <td>{{ tl.par_date }}</td>
                <td class="text-end">
                  <a href="javascript:;" class="btn btn-sm btn-light btn-active-light-primary show menu-dropdown" ng-click="app.viewTransferLog(this, tl)" data-kt-menu-placement="bottom-end">View
                    <span class="svg-icon svg-icon-5 m-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6" style="text-align: center;">
                  <div class="pull-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>