
<script src="assets/js/select2.full.min.js"></script>
<script src="assets/js/select2-init.js"></script>

<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <div class="card mb-5 mb-xl-10" style="box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); padding: 10px;">
      <div id="kt_account_settings_profile_details" class="collapse show">
        <form class="form" autocomplete="off" name="formHolder.article">
          <div class="card-body">
            <div class="row mb-6">
              <div class="col-lg-4 fv-row">
                <label class="form-label">COA Description<label class="text-danger">*</label></label>
                <select name="coa_code" aria-label="Select COA Description" data-control="select2" data-placeholder="Select COA Description..." class="select2-width-75 form-select" ng-disabled="controls.ok.btn" ng-options="coa.account_title + ' (' + (coa.code) + ')' disable when coa.disable for coa in chartOfAccounts track by coa.code" ng-model="article.coa_code" ng-class="{'is-invalid': formHolder.article.coa_code.$touched && formHolder.article.coa_code.$invalid}" required>
                  <option value="" disabled>Select COA Description...</option>
                </select>
              </div>
              <div class="col-lg-4 fv-row">
                <label class="form-label">Name<label class="text-danger">*</label></label>
                <input type="text" name="name" class="form-control form-control-lg" placeholder="Name" ng-disabled="controls.ok.btn" ng-model="article.name" ng-class="{'is-invalid': formHolder.article.name.$touched && formHolder.article.name.$invalid}" required/>
              </div>
              <div class="col-lg-4 fv-row">
                <label class="form-label">Description<label class="text-danger">*</label></label>
                <input type="text" name="description" class="form-control form-control-lg" placeholder="Description" ng-disabled="controls.ok.btn" ng-model="article.description" ng-class="{'is-invalid': formHolder.article.description.$touched && formHolder.article.description.$invalid}" required/>
              </div>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button type="reset" class="btn btn-light btn-active-light-primary me-2" ng-click="app.list(this)" ng-disabled="controls.cancel.btn">{{ controls.cancel.label }}</button>
      <button type="submit" class="btn btn-primary" id="spinner_form_submit" ng-click="app.save(this)" ng-disabled="controls.ok.btn">
        <span class="indicator-label">{{ controls.ok.label }}</span>
        <span class="indicator-progress">Please wait...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
    </div>
  </div>
</div>
