
<script src="assets/js/select2.full.min.js"></script>
<script src="assets/js/select2-init.js"></script>

<!-- Include the core FilePond CSS and JavaScript -->
<link href="assets/css/filepond.css" rel="stylesheet">
<script src="assets/js/filepond.js"></script>
<script src="assets/js/filepond-plugin-file-validate-type.js"></script>
<script src="assets/js/filepond-plugin-file-validate-size.js"></script>
<script src="assets/js/filepond-plugin-image-validate-size.js"></script>


<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_user_view_overview_tab">Land Improvement Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_user_view_overview_security">Upload Files</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
        <div class="card card-flush mb-6 mb-xl-9" style="box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); padding: 10px;">
          <form class="form" autocomplete="off" name="formHolder.landImprovement">
            <div class="card-body">
              <div class="row mb-6">
                <div class="row">
                  <div class="col-lg-4 fv-row">
                    <label class="form-label">Code<label class="text-danger">*</label></label>
                    <select name="coa_code" aria-label="Select Code" data-control="select2" data-placeholder="Code" class="select2-width-75 form-select" ng-disabled="controls.ok.btn" ng-options="cd.account_title + ' (' + (cd.code) + ')' disable when cd.disable for cd in coaDescription track by cd.id" ng-model="landImprovement.coa_code" ng-class="{'is-invalid': formHolder.landImprovement.coa_code.$touched && formHolder.landImprovement.coa_code.$invalid}" required>
                      <option value="" disabled>Select Code...</option>
                    </select>
                  </div>
                  <div class="col-lg-4 fv-row">
                    <label class="form-label">Municipality<label class="text-danger">*</label></label>
                    <select name="municipality_id" aria-label="Select Municipality" data-control="select2" data-placeholder="Municipality" class="select2-width-75 form-select" ng-disabled="controls.ok.btn" ng-options="m.municipality_description + ' (' + (m.zip_code) + ')' for m in municipalities track by m.id" ng-model="landImprovement.municipality_id" ng-change="app.filterBarangay(this, landImprovement.municipality_id)" ng-class="{'is-invalid': formHolder.landImprovement.municipality_id.$touched && formHolder.landImprovement.municipality_id.$invalid}" required>
                      <option value="" disabled>Select Office...</option>
                    </select>
                  </div>
                  <div class="col-lg-4 fv-row">
                    <label class="form-label">Barangay<label class="text-danger">*</label></label>
                    <select name="barangay_id" aria-label="Select Barangay" data-control="select2" data-placeholder="Barangay" class="select2-width-75 form-select" ng-disabled="controls.ok.btn" ng-options="b.barangay for b in filteredBarangays track by b.id" ng-model="landImprovement.barangay_id" ng-class="{'is-invalid': formHolder.landImprovement.barangay_id.$touched && formHolder.landImprovement.barangay_id.$invalid}" required>
                      <option value="" disabled>Select Office...</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-6">
                <div class="row">
                  <div class="col-lg-6 fv-row">
                    <label class="form-label">Street<label class="text-danger">*</label></label>
                    <input type="text" name="location" class="form-control form-control-lg" placeholder="Street" ng-disabled="controls.ok.btn" ng-model="landImprovement.location" ng-class="{'is-invalid': formHolder.landImprovement.location.$touched && formHolder.landImprovement.location.$invalid}" required/>
                  </div>
                  <div class="col-lg-6 fv-row">
                    <label class="form-label">Date<label class="text-danger">*</label></label>
                    <input type="date" name="date_added" class="form-control form-control-lg" placeholder="Date" ng-disabled="controls.ok.btn" ng-model="landImprovement.date_added" ng-class="{'is-invalid': formHolder.landImprovement.date_added.$touched && formHolder.landImprovement.date_added.$invalid}" required/>
                  </div>
                </div>
              </div>
              <div class="row mb-6">
                <div class="col-lg-12 fv-row">
                  <label class="form-label">Description<label class="text-danger">*</label></label>
                  <textarea name="description" placeholder="Description" class="form-control form-control-lg" ng-disabled="controls.ok.btn" ng-model="landImprovement.description" ng-class="{'is-invalid': formHolder.landImprovement.description.$touched && formHolder.landImprovement.description.$invalid}" required></textarea>
                </div>
              </div>
              <div class="row mb-6">
                <div class="col-lg-3 fv-row">
                  <label class="form-label">Carrying Amount<label class="text-danger">*</label></label>
                  <input type="number" name="carrying_amount" class="form-control form-control-lg" placeholder="Carrying Amount" ng-disabled="controls.ok.btn" ng-model="landImprovement.carrying_amount" ng-class="{'is-invalid': formHolder.landImprovement.carrying_amount.$touched && formHolder.landImprovement.carrying_amount.$invalid}" required/>
                </div>
                <div class="col-lg-3 fv-row">
                  <label class="form-label">Condition<label class="text-danger">*</label></label>
                  <input type="text" name="land_condition" class="form-control form-control-lg" placeholder="Condition" ng-disabled="controls.ok.btn" ng-model="landImprovement.land_condition" ng-class="{'is-invalid': formHolder.landImprovement.land_condition.$touched && formHolder.landImprovement.land_condition.$invalid}" required/>
                </div>
                <div class="col-lg-3 fv-row">
                  <label class="form-label">Remarks<label class="text-danger">*</label></label>
                  <input type="text" name="remarks" class="form-control form-control-lg" placeholder="Remarks" ng-disabled="controls.ok.btn" ng-model="landImprovement.remarks" ng-class="{'is-invalid': formHolder.landImprovement.remarks.$touched && formHolder.landImprovement.remarks.$invalid}" required/>
                </div>
                <div class="col-lg-3 fv-row">
                  <label class="form-label">Unit value<label class="text-danger">*</label></label>
                  <input type="number" name="market_value" class="form-control form-control-lg" placeholder="Unit value" ng-disabled="controls.ok.btn" ng-model="landImprovement.market_value" ng-class="{'is-invalid': formHolder.landImprovement.market_value.$touched && formHolder.landImprovement.market_value.$invalid}" required/>
                </div>
              </div>
              <div class="row mb-6">
                <div class="col-lg-6 fv-row">
                  <label class="form-label">Title<label class="text-danger">*</label></label>
                  <input type="text" name="title" class="form-control form-control-lg" placeholder="Title" ng-disabled="controls.ok.btn" ng-model="landImprovement.title" ng-class="{'is-invalid': formHolder.landImprovement.title.$touched && formHolder.landImprovement.title.$invalid}" required/>
                </div>
                <div class="col-lg-6 fv-row">
                  <label class="form-label">Lot No.<label class="text-danger">*</label></label>
                  <select name="lot_number" aria-label="Select Lot No." data-control="select2" data-placeholder="Lot No." class="select2-width-75 form-select" ng-disabled="controls.ok.btn" ng-options="ln.lot_number + ' (' + (ln.land_code) + ')' for ln in lotNumbers track by ln.id" ng-model="landImprovement.lot_number" ng-class="{'is-invalid': formHolder.landImprovement.lot_number.$touched && formHolder.landImprovement.lot_number.$invalid}" required>
                    <option value="" disabled>Select Lot No....</option>
                  </select>
                </div>
              </div>

              <div class="row mb-6">
                
                <div class="col-lg-5 fv-row">
                  <label class="form-label">Coordinate (Latitude)<label class="text-danger"></label></label>
                  <input type="text" id="latitude" name="latitude" class="form-control form-control-lg" placeholder="Latitude"  ng-disabled="controls.ok.btn" ng-model="landImprovement.latitude" ng-class="{'is-invalid': formHolder.landImprovement.latitude.$touched && formHolder.landImprovement.latitude.$invalid}" />
                </div>
                
                <div class="col-lg-5 fv-row">
                  <label class="form-label">Coordinate (Longtitude)<label class="text-danger"></label></label>
                  <input type="text" id= "longtitude" name="longtitude" class="form-control form-control-lg" placeholder="Longtitude"  ng-disabled="controls.ok.btn" ng-model="landImprovement.longtitude" ng-class="{'is-invalid': formHolder.landImprovement.longtitude.$touched && formHolder.landImprovement.longtitude.$invalid}" />

                 
                </div>
                <div class="col-lg-2 fv-row">
                  <label class="form-label" style="visibility:hidden">open map <label class="text-danger"></label></label>
                  <button class="btn btn-outline-secondary btn-success" ng-disabled="controls.ok.btn" type="button" ng-click="app.openMap(this)" >Use Map</button>
                </div>
               
              </div>
            </div>
          </form>

        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button type="reset" class="btn btn-light btn-active-light-primary me-2" ng-click="app.list(this)" ng-disabled="controls.cancel.btn">{{ controls.cancel.label }}</button>
          <button type="submit" class="btn btn-primary" id="spinner_form_submit" ng-click="app.save(this)" ng-disabled="controls.ok.btn">
            <span class="indicator-label">{{ controls.ok.label }}</span>
            <span class="indicator-progress">Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
          </button>
        </div>
      </div>
      <div class="tab-pane fade" id="kt_user_view_overview_security" role="tabpanel">
        <div class="card pt-4 mb-6 mb-xl-9" style="box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2); padding: 10px;">
          <div class="card-header border-0">
            <div class="card-title">
              <h2>Upload Files </h2>&nbsp<h5>(max: 10mb)</h5>
            </div>
          </div>
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">
              <div class="card card-flush">
                <div class="card-body">
                  <div id="dropzone">
                    <form method='post' action='' enctype="multipart/form-data">
                      <input type="file" id='files' class="filepond" name="filepond" multiple><br>
                    </form>
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                      <button type="button" class="btn btn-primary" id="uploadFile" value='Upload' ng-disabled="disableUpload">
                        <span class="indicator-label">Upload</span>
                        <span class="indicator-progress">Uploading...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">
              <div class="card card-flush">
                <div class="card-header pt-8">
                  <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                      <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                          <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                        </svg>
                      </span>
                      <input type="text" data-kt-filemanager-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Files" ng-model="searchFile" />
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table id="kt_file_manager_list" data-kt-filemanager-table="files" class="table align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                      <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-15px">#</th>
                        <th class="min-w-15px"></th>
                        <th class="min-w-70px">Name</th>
                        <th class="min-w-10px">Size</th>
                        <th class="min-w-125px">Date Uploaded</th>
                        <th class="w-125px"></th>
                      </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                      <tr ng-repeat="fl in filterData = (fileList | filter:searchFile) | pagination: currentPage:pageSize">
                        <td>{{ fl.list_no }}</td>
                        <td>
                          <img src="{{ fl.file_icon }}" class="w-50px" alt="" />
                        </td>
                        <td>
                          <a href="#" class="text-gray-800 text-hover-primary">{{ fl.file_name }}</a>
                        </div>
                        </td>
                        <td>{{ fl.file_size_kb }} kb</td>
                        <td>{{ fl.upload_date }}</td>
                        <td class="text-end">
                          <div class="btn-group dropstart">
                            <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="svg-icon svg-icon-5 m-0">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor" />
                                  <rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor" />
                                  <rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor" />
                                </svg>
                              </span>
                            </button>
                            <div class="dropdown-menu menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
                              <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" ng-click="app.downloadFile(this, fl.id)">Download File</a>
                              </div>
                              <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" data-kt-filemanager-table="rename" ng-click="app.viewFile(this, fl.id)">View</a>
                              </div>
                              <div class="menu-item px-3">
                                <a href="#" class="menu-link text-danger px-3" data-kt-filemanager-table-filter="delete_row" ng-click="app.deleteFile(this, fl)">Delete</a>
                              </div>
                            </div>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="6" style="text-align: center;">
                          <div class="pull-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
              <button type="button" class="btn btn-light btn-active-light-primary me-2" ng-click="app.list(this)">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>